:root {
  --red: #ff2d55;
  --blue: #00acee;
  --orange: #efa506;
  --green: #8dc63f;
  --dark: #0d1028;
  --light: #f5f4f7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: arial;
  background-color: var(--light);
  color: var(--dark);
}
.page-title {
  color: var(--blue);
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}
.page-title > b {
  color: var(--red);
}

.page-title .tik {
  font-size: 2em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 0.2rem;
  border-radius: 0.2rem;
}
.clock-frame {
  padding: 1rem;
  padding-top: 0;
}
.clock {
  width: calc(56.25vw + 48px);
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  position: relative;
  padding: 24px; /* box shadow */
}

/* ========= Clock digits ============== */
.clock-digits {
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset, var(--red) 0px 0px 0px 6px,
    var(--orange) 0px 0px 0px 12px, var(--blue) 0px 0px 0px 18px,
    var(--dark) 0px 0px 0px 24px;
  aspect-ratio: 1 / 1;
  position: relative;
}

/* ========== Time Indicator ========= */
.clock-digits > .indicator {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0.2rem;
  background-color: transparent;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.clock-digits > .indicator::before,
.clock-digits > .indicator::after {
  content: "";
  height: 0.2rem;
  width: 1rem;
  background-color: var(--dark);
  position: absolute;
  top: 0;
}
.clock-digits > .indicator::after {
  left: calc(100% - 1rem);
}

/* 1 - 5 */
.clock-digits > .indicator:nth-of-type(1) {
  transform: translateX(0);
}
.clock-digits > .indicator:nth-of-type(2) {
  transform: rotate(calc(1 * 6deg));
}
.clock-digits > .indicator:nth-of-type(3) {
  transform: rotate(calc(2 * 6deg));
}
.clock-digits > .indicator:nth-of-type(4) {
  transform: rotate(calc(3 * 6deg));
}
.clock-digits > .indicator:nth-of-type(5) {
  transform: rotate(calc(4 * 6deg));
}

/* 6 -10 */
.clock-digits > .indicator:nth-of-type(6) {
  transform: rotate(calc(5 * 6deg));
}
.clock-digits > .indicator:nth-of-type(7) {
  transform: rotate(calc(6 * 6deg));
}
.clock-digits > .indicator:nth-of-type(8) {
  transform: rotate(calc(7 * 6deg));
}
.clock-digits > .indicator:nth-of-type(9) {
  transform: rotate(calc(8 * 6deg));
}
.clock-digits > .indicator:nth-of-type(10) {
  transform: rotate(calc(9 * 6deg));
}

/* 11 - 15 */
.clock-digits > .indicator:nth-of-type(11) {
  transform: rotate(calc(10 * 6deg));
}
.clock-digits > .indicator:nth-of-type(12) {
  transform: rotate(calc(11 * 6deg));
}
.clock-digits > .indicator:nth-of-type(13) {
  transform: rotate(calc(12 * 6deg));
}
.clock-digits > .indicator:nth-of-type(14) {
  transform: rotate(calc(13 * 6deg));
}
.clock-digits > .indicator:nth-of-type(15) {
  transform: rotate(calc(14 * 6deg));
}

/* 16 - 20 */
.clock-digits > .indicator:nth-of-type(16) {
  transform: rotate(calc(15 * 6deg));
}
.clock-digits > .indicator:nth-of-type(17) {
  transform: rotate(calc(16 * 6deg));
}
.clock-digits > .indicator:nth-of-type(18) {
  transform: rotate(calc(17 * 6deg));
}
.clock-digits > .indicator:nth-of-type(19) {
  transform: rotate(calc(18 * 6deg));
}
.clock-digits > .indicator:nth-of-type(20) {
  transform: rotate(calc(19 * 6deg));
}

/* 21 - 25 */
.clock-digits > .indicator:nth-of-type(21) {
  transform: rotate(calc(20 * 6deg));
}
.clock-digits > .indicator:nth-of-type(22) {
  transform: rotate(calc(21 * 6deg));
}
.clock-digits > .indicator:nth-of-type(23) {
  transform: rotate(calc(22 * 6deg));
}
.clock-digits > .indicator:nth-of-type(24) {
  transform: rotate(calc(23 * 6deg));
}
.clock-digits > .indicator:nth-of-type(25) {
  transform: rotate(calc(24 * 6deg));
}

/* 26 - 30 */
.clock-digits > .indicator:nth-of-type(26) {
  transform: rotate(calc(25 * 6deg));
}
.clock-digits > .indicator:nth-of-type(27) {
  transform: rotate(calc(26 * 6deg));
}
.clock-digits > .indicator:nth-of-type(28) {
  transform: rotate(calc(27 * 6deg));
}
.clock-digits > .indicator:nth-of-type(29) {
  transform: rotate(calc(28 * 6deg));
}
.clock-digits > .indicator:nth-of-type(30) {
  transform: rotate(calc(29 * 6deg));
}

/* ========== Minutes Mark ============== */
.clock-digits > .indicator:nth-of-type(1)::before,
.clock-digits > .indicator:nth-of-type(1)::after,
.clock-digits > .indicator:nth-of-type(6)::before,
.clock-digits > .indicator:nth-of-type(6)::after,
.clock-digits > .indicator:nth-of-type(11)::before,
.clock-digits > .indicator:nth-of-type(11)::after,
.clock-digits > .indicator:nth-of-type(16)::before,
.clock-digits > .indicator:nth-of-type(16)::after,
.clock-digits > .indicator:nth-of-type(21)::before,
.clock-digits > .indicator:nth-of-type(21)::after,
.clock-digits > .indicator:nth-of-type(26)::before,
.clock-digits > .indicator:nth-of-type(26)::after {
  width: 1.2rem;
  height: 0.3rem;
  background-color: var(--green);
}

/* ========== Digits ============= */
.digit {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  font-size: 2rem;
}

/* Three Nine horizontal (starting) */
.digit:nth-of-type(1) {
  transform: translateX(0);
}
.digit:nth-of-type(2) {
  transform: rotate(calc(1 * 30deg));
  top: 47.5%;
}
.digit:nth-of-type(3) {
  transform: rotate(calc(2 * 30deg));
  top: 47.5%;
}
.digit:nth-of-type(4) {
  transform: rotate(calc(3 * 30deg));
  top: 47.5%;
}
.digit:nth-of-type(5) {
  transform: rotate(calc(4 * 30deg));
  top: 47.5%;
}
.digit:nth-of-type(6) {
  transform: rotate(calc(5 * 30deg));
}

/* Individual digit */
.digit:nth-of-type(2) > span {
  transform: rotate(calc(-1 * 30deg));
}
.digit:nth-of-type(3) > span {
  transform: rotate(calc(-2 * 30deg));
}
.digit:nth-of-type(4) > span {
  transform: rotate(calc(-3 * 30deg));
}
.digit:nth-of-type(5) > span {
  transform: rotate(calc(-4 * 30deg));
}
.digit:nth-of-type(6) > span {
  transform: rotate(calc(-5 * 30deg));
}

/* =========== Hand ======== */
.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform-origin: 0 50%;
}

.hour-hand {
  width: calc(30% - 24px); /* box shadow */
  height: 1rem;
  border-radius: 0.7rem;
  background-color: var(--dark);
  transform: rotate(120deg);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  /* transition: transform 3600s linear; */
  /* animation: hours linear 21600s infinite; */
}

.minute-hand {
  width: calc(35% - 24px); /* box shadow */
  height: 0.5rem;
  border-radius: 0.4rem;
  background-color: var(--blue);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  /* transition: transform 60s linear; */
  /* animation: minutes linear 3600s infinite; */
}
.second-hand {
  width: calc(45% - 24px); /* box shadow */
  height: 0.3rem;
  background-color: var(--red);
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* transform: rotate(270deg); */
  /* animation: seconds 60s linear infinite; */
}

.middle-circle {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark);
  border-radius: 50%;
  box-shadow: var(--dark) 0px 0px 0px 8px, var(--blue) 0px 0px 0px 16px,
    var(--red) 0px 0px 0px 24px;
}

/* =========== Responsiveness ============== */
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .clock {
    width: calc(46.2vh + 48px);
  }
}
@media (min-width: 767.1px) and (max-width: 1023.9px) {
  html {
    font-size: 14px;
  }
  .clock {
    width: calc(56.25vh + 48px);
  }
}
@media (min-width: 1024px) and (max-width: 1365.9px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1366px) and (max-width: 1599.9px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 24px;
  }
}
